* {
    font-family: 'jetBrains Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
body {
    background-image: url(../img/rahul-mishra-XXMA-8fBB-g-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Header */
.header{
    padding: 20px 0 50px 0;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 0px 0px 10px;
    margin: 0 50px;
    border-radius: 20px;

}
.header.hidden{
    transform: translateY(-100%);
}
.header-nav{
    display: flex;
    align-items: center;
    gap: 200px;
}
.logo{
    display: block;
    
}
.text-header{
    text-align: center;
    mix-blend-mode: multiply;
}
ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 70px;
    list-style: none;
    
}
.listnav {
    text-decoration: none;
    color: #000000;
}
.listnav:hover{
    opacity: 60%;
}
.orcamento{
    padding: 20px;
    background-color: rgb(9, 9, 164);
    color: #eee;
    text-decoration: none;
    box-shadow: 0px 0px 6px 0px black;
    border-radius: 30px;
}
.orcamento:hover{
    box-shadow: inset 0px 0px 10px 0px black;
}
/* Hero */
.hero{
    padding: 45vh 100px;
    background-size: cover;
    background-position: center;
    color: #eee;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.hero-text{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* border: 2px solid #eee; */
    width: 800px;
    text-align: end;
}
.hero-title{
    font-size: 3.6rem;
}
/* Main */
main{
    padding: 100px 250px;
    gap: 100px;
    background-image: url(../img/45473.png);
    background-size: cover;
    background-position: center;
}
.main{
    padding: 10px;
    border-radius: 30px;
    background-color: #eee;
    box-shadow: 0px 0px 10px;
}
.sobreNos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 80px 30px;
    gap: 50px;
    text-align: center;
    color: #000000;
    width: 50%;
    margin: 60px auto;
}
.sobreNos-title{
    font-size: 4rem;
}
.sobreNos-text{
    font-size: 1.3rem;
}
.servicos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 30px;
    gap: 50px;
    text-align: center;
}
.servicos-title{
    font-size: 4rem;
}
.servicos-text{
    font-size: 1.3rem;
    width: 50%;
}
.serv-metodo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.servicos-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:flex-start;
}
.titles{
    display: flex;
    gap: 350px;
}
.title-serv{
    font-size: 2rem;
}
.title-tec{
    font-size: 2rem;
}
.tecnologias{
    width: 300px;
}
.list-services{
    font-size: 1.2rem;
}
.devs-title{
    font-size: 4rem;
    text-align: center;
}
.devs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 80px 30px;
    gap: 80px;
    text-align: center;
}
.devins{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 580px;
    box-shadow: 0px 0px 10px;
    border-radius: 30px;
    padding: 50px 50px 50px 50px;
}
.img{
    width: 100px;
    height: 100px;
}
.img-dev{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    transition: filter 300ms;
    cursor: pointer;
    box-shadow: 0px 0px 5px;
    filter: grayscale(100%) brightness(80%);
}
.img-dev:hover{
    filter: grayscale(0%)
}
.descricao-dev{
    width: 100%;
    margin: 30px 0;
    background-color: #dcdbdb;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px;
    height: 150px;
    display: flex;
    align-items: center;
}
.valor-dev{
    color: rgb(9, 9, 164);
}
/* Footer */