* {
    font-family: 'jetBrains Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
html{
    background-color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* Header */
.header{
    padding: 20px 0 50px 0;
    background: linear-gradient(90deg, #1a1a1a, #01053e);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 50px;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 2px solid #4db8ff;
}
.header.hidden{
    transform: translateY(-100%);
}
.header-nav{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.logo{
    display: block;
    box-shadow: 0px 0px 0xpx;
    width: 200px;
    height: auto;
    filter: drop-shadow(0px 0px 8px rgb(60, 60, 60));
}
.text-header{
    text-align: center;
    mix-blend-mode: multiply;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
    list-style: none;
}
.listnav {
    text-decoration: none;
    color: #ffffff;

}
.listnav:hover{
    color: #4db8ff;
}
/* .listnav::after{
    content "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .5s ease;
    bottom: 0;
    left: 0;
} */
.orcamento{
    padding: 15px;
    background-color: #4db8ff;
    color: black;
    text-decoration: none;
    box-shadow: 0px 0px 6px 0px rgb(131, 131, 131);
    border-radius: 10px;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}
.orcamento:hover{
    background-color: #3399cc;
    box-shadow: inset 0px 0px 10px 0px black;
}
/* Hero */
.hero{
    padding: 38vh 100px;
    background-size: cover;
    background-position: center;
    color: #eee;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-image: url(../img/rahul-mishra-XXMA-8fBB-g-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.linha{
    width: 100%;
    height: 1px;
    background-color: #eee;
}
.hero-text{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 500px;
    text-align: start;
    gap: 20px;
    filter: blur(15px);
    transform: translateY(100%);
    transition: all 1s;
}
.hero-title{
    height: 100px;
    filter: drop-shadow(0px 0px 8px rgb(60, 60, 60));
}
.text{
    font-size: 1.5rem;
    text-align: center;
}
.conheca{
    border: solid 2px #4db8ff;
    color: #eee;
    text-decoration: none;
    box-shadow: 0px 0px 6px 0px rgb(131, 131, 131);
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 10px;
    margin: auto;
    transition: background-color 0.3s ease;
}
.conheca:hover{
    background-color: #3399cc;
    box-shadow: inset 0px 0px 10px 0px black;
}
/* Main */
main{
    gap: 100px;
    background-image: url(../img/rahul-mishra-JPL5eIpYugo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0px 0px 10px;
    border-radius: 30px;
    border-top: 2px solid #4db8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.main{
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
    width: 100dvw;
    height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
/* Animation */
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}
.sobreNos{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    border-radius: 30px;
    background: radial-gradient(circle at top left, #0a2e5a, #121212);
    width: 80%;
    height: 80%;
    padding: 150px;
    color: #eee;
}
.sobreNos-title{
    font-size: 4rem;
    width: auto;
    margin-bottom: 50px;
}
.sobreNos-text{
    font-size: 2rem;
}
.box-serv{
    margin: 100px 100px 0px 100px;
    padding: 10px;
    border-radius: 30px;
    background-color: #eee;
    box-shadow: 0px 0px 10px;
    padding: 50px 0;
    background: radial-gradient(circle at top left, #0a2e5a, #121212);
    max-width: 1280px;
}
.servicess{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    border-radius: 30px;
    background: radial-gradient(circle at top left, #0a2e5a, #121212);
    width: 80%;
    height: 90%;
}
.servicos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
    gap: 50px;
    text-align: center;
    color: #eee;
}
.servicos-title{
    font-size: 4rem;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.servicos-text{
    font-size: 1.3rem;
    width: 50%;
}
.servicos-list{
    list-style-type: none;
    padding: 0;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.list-services{
    border: solid 2px #4db8ff;
    color: #eee;
    text-decoration: none;
    box-shadow: 0px 0px 6px 0px rgb(131, 131, 131);
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.active{
    background-color: #3399cc;
    box-shadow: inset 0px 0px 10px 0px black;
}
.linha2{
    width: 1px;
    height: 500px;
    background-color: #eee;
}
.action{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
    align-items: center;
    justify-content: center
}
.cards-serv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    color: #eee;
    transform: scale(10px);
}
#card-web{
    display: none;
}
#card-suporte{
    display: none;
}
#card-design{
    display: none;
}
#card-ecommerce{
    display: none;
}
#card-mobile{
    display: none;
}
#card-desktop{
    display: block;
}
#card-gestao{
    display: none;
}
.cards-unic{
    width: 450px;
    max-width: 450px;
    min-width: 450px;
    max-height: 550px;
    min-height: 550px;
    background: linear-gradient(90deg, #1a1734, #19013e);
    height: auto;
    box-shadow: 0px 0px 10px black;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.cards-serv-title{
    font-size: 1.9rem;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    width: auto;
    padding: 50px;
    text-align: center;
}
.list-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
.devs{
    margin: 100px 100px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #eee;
    box-shadow: 0px 0px 10px;
    padding: 50px 0;
    background: radial-gradient(circle at top left, #0a2e5a, #121212);
}
#card-eddie{
    display: flex;
}
#card-felipe{
    display: none;
}
#card-elias{
    display: none;
}
#card-dmitri{
    display: none;
}
#card-pedro{
    display: none;
}
#card-caio{
    display: none;
}
.devs-title{
    font-size: 2.5rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    width: auto;
    padding: 30px 50px;
    text-align: center;
    color: #eee;
    margin: 10px 30px 30px 30px;
}
.equipe{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}
.devins{
    max-width: 500px;
    max-height: 750px;
    min-width: 500px;
    min-height: 750px;
    box-shadow: 0px 0px 10px;
    border-radius: 30px;
    padding: 50px 50px 50px 50px;
    background: linear-gradient(90deg, #1a1734, #19013e);
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 40px;
}

.img-in{
    width: 300px;
    height: 300px;
}
.img{
    width: 100px;
    height: 100px;
    filter: grayscale(100%) brightness(80%);
    transition: 0.3 ease;
    margin: 20px;
}
.ative{
    filter: grayscale(0%) brightness(100%);
}
.img:hover{
    filter: grayscale(0%)
}
.img-dev{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    transition: filter 300ms;
    cursor: pointer;
    box-shadow: 0px 0px 5px;
}
.descricao-dev{
    width: 100%;
    margin: 10px 0;
    background: linear-gradient(90deg, #172f34, #19013e);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
    text-align: center;
    color: #eee;
}
.nome-dev{
    font-size: 1.5rem;
    margin-right: 10px;
    color: #eee;
}
/* Contatos */
.contact-container{
    display: flex;
    align-items: center;
    color: #eee;
    gap: 20px;
    max-width: 1000px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: linear-gradient(90deg, #1a1734, #19013e);
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
    width: 500px;
}
.contato-title{
    font-size: 2.4rem;
    margin-bottom: 30px;
    color: #eee;
    text-align: left;
}
.first-line{
    display: flex;
    gap: 10px;
}
.first-in{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.forms{
    width: 225px;
    padding: 5px;
    background-color: #42266e42;
    border: 1px solid #8e8e8e;
    color: #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px black;
}
.sec-line{
    display: flex;
    gap: 10px;
}
#mensagem{
    width: 100%;
    padding: 10px 20px;
    background-color: #01053e00;
    border: 1px solid #8e8e8e;
    color: #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px black;
    height: 100px;
}
.button{
    background: linear-gradient(223deg, #1a1734, #19013e);
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 8px black;
    margin-top: 10px;
}
.button:hover{
    box-shadow: inset 0 0 10px #1a1734;
}
#checkbox{
    margin-left: 15px;
    margin-bottom: 15px;
}
.checkbox{
    display: flex;
    gap: 10px;
    text-align: left;
}
/* Footer */
footer {
    background-color: #1a1a2e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 30px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    margin: 10px;
    flex: 1;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    color: #ffcc00; /* Destaque para os títulos */
  }
  
  .footer-section p, .footer-section a {
    color: #ddd;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    color: #ffcc00; /* Cor de destaque ao passar o mouse */
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 10px;
  }
  
  .footer-bottom p {
    font-size: 0.9em;
    color: #aaa;
  }
  .links{
    list-style: none;
  }
/* breakpoints */